/api/node_modules/
# compiled output
/api/dist
/api/node_modules
/mysql-data/*
# Logs
/api/logs
/api/*.log
/api/npm-debug.log*
/api/yarn-debug.log*
/api/yarn-error.log*
/api/lerna-debug.log*

# OS
.DS_Store

# Tests
/api/coverage
/api/.nyc_output

# IDEs and editors
/api/.idea
/api/.project
/api/.classpath
/api/.c9/
/api/*.launch
/api/.settings/
/api/*.sublime-workspace

# IDE - VSCode
/api/.vscode/*
/api/!.vscode/settings.json
/api/!.vscode/tasks.json
/api/!.vscode/launch.json
/api/!.vscode/extensions.json